@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222544;
}

.technologies-content {
    width: 85%;
    max-width: 800px;
}

.heading {
    font-family: "Roboto";
    font-size: 36px;
    color: #2d9cca;
}

.paragraph {
    font-family: "Roboto";
    font-size: 20px;
    color: #f1f1f1;
}

.technologies-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 48px;
}

.list_item {
    font-family: "Roboto";
    font-size: 16px;
    color: #2d9cca;
    background-color: #222544;
    border: 1px solid #95cae0;
    border-radius: 32px;
    padding: 16px;
    margin-right: 24px;
    margin-bottom: 24px;
    list-style-type: none;
}